* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #E6F4F1;
  min-height: 100vh;
  background: rgba(248, 212, 83, 1.0);
  background: -webkit-linear-gradient(bottom, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  background: -moz-linear-gradient(bottom, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  background: linear-gradient(to top, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  display: grid;
}

.bg {
  background-image: url("../media/bg.svg");
  background-size: cover;
  background-repeat: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* filter: blur(1.5px); */
}

main {
  margin: auto;
  padding: 1rem;
  min-width: 60%;
  min-height: 80%;
  max-width: 70%;
  display: grid;
  grid-template-rows: 2fr 0.5fr 1fr 0.5fr 2fr;
  grid-template-columns: 1fr;
}

.sun {
  width: 30rem;
  height: 30rem;
  position: fixed;
  top: -15rem;
  right: -15rem;
  filter: blur(5px);
  -webkit-animation: spin 120s infinite linear;
  animation: spin 120s infinite linear;
  z-index: -2;
}

.message-box{
  grid-row: 1;
  width: 100%;
  font-family: 'Allerta Stencil', sans-serif;
  line-height: 13pt;
  font-size: 100%;
  margin: 0 auto;
  color: #f4f4f0;
  padding: 1rem;
  border-radius: 15px;
  background-image: url("../media/blackboard_texture.jpg");
  background-size: cover;
}

.play-options-box {
  grid-row: 3;
  width: 100%;
  display: flex;
  align-items: center;
}

.play-option-button {
  margin: 0 auto;
  /* font-size: 3rem; */
  background: orange;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: slategray;
  padding: 1% 2%;
  border-radius: 10px;
}

.inventory-and-market-price-container {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 150%;
  line-height: 8pt;
  grid-row: 5;
  width: 100%;
  background-image: url("../media/blackboard_texture.jpg");
  background-size: cover;
  display: flex;
  border-radius: 15px;
}

.inventory-box {
  width: 50%;
  padding: 1rem;
}

.market-price-lists {
  width: 50%;
  padding: 1rem;
  border-left: 1px solid white;
}

.bottom-box-heading {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}