* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #E6F4F1;
  min-height: 100vh;
  background: rgba(248, 212, 83, 1.0);
  background: -webkit-linear-gradient(bottom, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  background: -moz-linear-gradient(bottom, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  background: linear-gradient(to top, rgba(248, 212, 83, 1.0), rgba(1, 161, 255, 1.0));
  display: grid;
}

.bg {
  background-image: url("../media/bg.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* filter: blur(1.5px); */
}

main {
  margin: auto;
  padding: 1rem;
  /* min-width: 60%; */
  /* max-width: 70%; */
  width: 80%;
  min-height: 80%;
  display: grid;
  grid-template-rows: 2fr 0.5fr 1fr 0.5fr 2fr;
  grid-template-columns: 1fr;
}

.sun {
  width: 30rem;
  height: 30rem;
  position: fixed;
  top: -15rem;
  right: -15rem;
  filter: blur(5px);
  -webkit-animation: spin 120s infinite linear;
  animation: spin 120s infinite linear;
  z-index: -2;
}

.message-box{
  grid-row: 1;
  width: 100%;
  font-family: 'Allerta Stencil', sans-serif;
  line-height: 13pt;
  font-size: 100%;
  margin: 0 auto;
  color: #f4f4f0;
  padding: 1rem;
  border-radius: 15px;
  background-image: url("../media/blackboard_texture.jpg");
  background-size: cover;
}

.finance-status-box {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.finance-info-string {
  font-family: sans-serif;
  font-size: 16pt;
  padding: 1% 2%;
  background: orange;
  border-radius: 10px;
  color: white;
  font-family: 'Pacifico', cursive;
}

.finance-number {
  font-weight: normal;
  font-weight: bolder;
}

.transaction-options-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}

.quantity-input-container {
  margin-left: 3%;
  display: flex;
  border-left: 1px dashed white;
  font-size: 16pt;
  padding-left: 3%;
  align-items: baseline;
}

.quantity-input {
  padding: 10%;
  font-size: 18pt;
}

.play-options-box {
  grid-row: 4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-option-button {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  padding: 1% 2%;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.buy-button {
  background: red;
  color: white;
}

.sell-button {
  background: green;
  color: white;
}

.do-nothing-button {
  background: gray;
  color: white;
}

.inventory-and-market-price-container {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 150%;
  line-height: 8pt;
  grid-row: 5;
  width: 100%;
  background-image: url("../media/blackboard_texture.jpg");
  background-size: cover;
  display: flex;
  border-radius: 15px;
}

.inventory-box {
  width: 50%;
  padding: 1rem;
}

.market-price-lists {
  width: 50%;
  padding: 1rem;
  border-left: 1px solid white;
}

.bottom-box-heading {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

footer {
  min-width: 100vw;
  min-height: 10vh;
  background-color: #3D4756;
  position: absolute;
  bottom: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
}

.footer-item {
  padding: 0.2rem;
  display: flex;
}

.footer-box-1 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-2 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-3 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-4 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-5 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-6 {
  border-right: 1px solid #FFFFFF;
}

.footer-box-7 {
  border-right: 1px solid #FFFFFF;
}

/* .sunset {
  animation: sunset 4s 1 linear;
} */

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* @keyframes sunset {
  0%  {transform: translateY(0); transform: rotate(0deg);}
  50% {transform: translateY(200%);}
  100% {transform: translateY(0); transform: rotate(359deg);}
} */